/* variables and fonts */
:root {
	--text-dark-blue: rgb(28, 29, 54);
	--text-very-gray-blue: rgb(74, 75, 94);
	--text-gray-blue: rgb(120, 120, 135);
	--divider-gray-blue: rgb(231, 231, 233);
	--text-red: rgb(244, 124, 87);
	--bg-violet: rgb(175, 103, 233);
	--bg-blue: rgb(101, 101, 231);
}

/* boilerplate css */

body {
	background: linear-gradient(var(--bg-violet), var(--bg-blue));
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* utility classes */
.padding-y {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.padding-y2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

/* accordion styles */

main {
	max-width: 325px;
	min-width: 260px;
	width: 80%;
	margin: auto;
}

main .accordion {
	background-color: #fff;
	padding: 7.5rem 1.5rem 1.5rem 1.5rem;
	border-radius: 20px;
	font-family: 'Kumbh Sans', sans-serif;
	position: relative;
}

main .accordion .img-container {
	width: 100%;
	position: absolute;
	left: -0.25rem;
	top: -6.5rem;
}

main .accordion .img-container img {
	display: block;
	margin: auto;
	width: 80%;
	height: auto;
}

main .accordion .img-container .mobile.bg-img {
	position: absolute;
	left: 13%;
	bottom: -1rem;
}

main .accordion .img-container .desktop {
	display: none;
}

main .accordion .faq {
	position: relative;
}

main .accordion .faq h1 {
	text-align: center;
	color: var(--text-dark-blue);
}

main .accordion .faq .accordion-item {
	border-bottom: 1px solid var(--divider-gray-blue);
	font-size: 0.75rem;
	line-height: 1.5;
}

main .accordion .faq .accordion-item .heading {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	color: var(--text-very-gray-blue);
}

main .accordion .faq .accordion-item .heading:hover {
	color: var(--text-red);
}

main .accordion .faq .accordion-item .heading img {
	align-self: center;
	transition: transform 0.5s;
}

main .accordion .faq .accordion-item.active .heading {
	color: var(--text-dark-blue);
	font-weight: 700;
}

main .accordion .faq .accordion-item.active .heading img {
	transform: rotate(180deg);
}

main .accordion .faq .accordion-item .content {
	position: relative;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s;
	color: var(--text-gray-blue);
}

main .accordion .faq .accordion-item.active .content {
	max-height: 5rem;
}

/* Desktop Styles */
@media (min-width: 912px) {
	main {
		max-width: none;
		min-width: none;
		width: 65%;
		position: relative;
	}

	main .accordion {
		padding: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		background-image: url('images/bg-pattern-desktop.svg');
		background-repeat: no-repeat;
		background-size: 70%;
		background-position: -20rem;
	}

	main .accordion .img-container {
		position: relative;
		left: -7rem;
		top: 0;
		width: 50%;
	}

	main::before {
		content: '';
		position: absolute;
		background-image: url('images/illustration-box-desktop.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 40%;
		left: -25%;
		top: 11%;
		width: 50%;
		height: 100%;
		z-index: 1;
	}

	main .accordion .img-container .mobile {
		display: none;
	}

	main .accordion .img-container .desktop {
		display: block;
		width: 100%;
	}

	main .accordion .faq {
		width: 50%;
	}

	main .accordion .faq h1 {
		text-align: left;
	}

	main .accordion .faq .accordion-item {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}
